body {
  text-align: center;
  font-family: Roboto;
}

.moto {
  margin-top: 10px;
  color: rgb(255, 137, 1);
  font-size: 13px;
}

.main-header {
  font-size: 40px;
  margin:auto;
  margin-bottom: 25px
}

.card-container {
  width: 1100px;
  height: 450px;
  margin: auto;
  margin-top: 20px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.card-container::-webkit-scrollbar {
  width: 0.3em;
  height: 3px;
}

.card-container::-webkit-scrollbar-thumb {
  background-color: rgb(151, 151, 151);
}

.cards {
  text-align: left;
  background-color: aqua;
  width: 50%;
  height: 300px;
  box-sizing: border-box;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 10px;
  float: left;
  color: whitesmoke;
}

#card1 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://images.unsplash.com/photo-1461503312594-019be44dd599?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
  background-size: cover;
}
#card2 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://images.unsplash.com/photo-1476673160081-cf065607f449?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80');
  background-size: cover;
}
#card3 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://images.unsplash.com/photo-1533939664942-173b7df71238?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80');
  background-size: cover;
}
#card4 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://images.unsplash.com/photo-1416431168657-a6c4184348ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
}

#card1:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1461503312594-019be44dd599?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
  background-size: cover;
}
#card2:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1476673160081-cf065607f449?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80');
  background-size: cover;
}
#card3:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1533939664942-173b7df71238?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80');
  background-size: cover;
}
#card4:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1416431168657-a6c4184348ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
}

.post-title {
  margin-top: 120px;
  font-size: 26px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.ani-bar {
  background-color: whitesmoke;
  height:10px;
  width: 0px;
  margin-bottom: 5px;
  transition: all .3s ease-in-out;
}
.cards:hover .ani-bar {
  width: 80px;
  margin-bottom: 5px;
}

.post-content {
  padding-right: 21%;
  font-size: 12px;
}


.comments {
  margin-bottom: 10px;
  font-style: italic;
}


.post-footer {
  font-size: 10px;
  width: 100%;
  padding: 2px;
  margin-top: 20px;
  font-weight: 500;
  letter-spacing: 1px
}

.post-section {
  float:left;
  width:50%;
  margin: auto;
}

.post-date {
  float:left;
  width: 50%;
  margin: auto;
  text-align: right
}


/* form style */



.input-container {
  width: 1100px;
  height: 450px;
  margin: auto;
  margin-top: 60px;
  text-align: center;
}

.wrap {
  margin-bottom: 50px;
}

label {
  text-align: left;
  margin: auto;
  font-size: 25px;
  color: rgb(136, 136, 136);
  font-weight: 500;
  display: block;
  width: 300px;
  height: 90px;
  line-height: 24px;
}

.title * {
  display:inline-block;
  box-sizing: border-box;
  margin: auto;
}

.title input {
  position: absolute;
}

.title input:not(:placeholder-shown) + span {
  transform: translateY(-26px) scale(.75);
  color: rgb(255, 137, 1)
}
.title input:focus {
  outline:none;
} 
.title input:focus + #title-label {
  transform: translateY(-26px) scale(.75);
} 

.title input:focus + span + #border {
  outline:none;
  transform: scaleX(1.1) ;
  border-bottom: solid black 2px;
} 

#title-input {
  background-color: transparent;
  font-size: 25px;
  width: 300px;
  height: 30px;
  border: 0px;
  transition: all 200ms ease-in-out;
  transform-origin: 0 0;
  z-index: 1
}
#title-input:hover + #title-label {
  color: rgb(255, 137, 1)
}

#title-label {
  transition: all 200ms;
  transform-origin: 0 0;
}

#border-title {
  position: relative;
  border-bottom: solid grey 2px;
  top: 10px;
  width: 300px;
  margin-top: 2px;
  transition: all 200ms ease-in-out;
  transform-origin: 0 0;
}


/* description */



.dsc  * {
  display:inline-block;
  box-sizing: border-box;
}
.dsc:hover {
  color:rgb(255, 137, 1);
}

#dscr-box {
  font-family: inherit;
  padding: 2px;
  position: absolute;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  width: 300px;
  height: 90px;
  border: 0px;
  resize: none;
  overflow-y: hidden;
  transition: all 200ms ease-in-out;
  transform-origin: 0 0;
  z-index: -1;
}

#dscr-label {
  transition: all 200ms;
  transform-origin: 0 0;
}


#border-dscr {
  position: relative;
  border-bottom: solid grey 2px;
  top: 20px;
  width: 300px;
  margin-top: 2px;
  transition: all 200ms ease-in-out;
  transform-origin: 0 0;
  outline:none;
}


.dsc textarea:not(:placeholder-shown) + #dscr-label {
  transform: translateY(-26px) scale(.75);
  color: rgb(255, 137, 1)
}
.dsc textarea:not(:placeholder-shown) + #dscr-label + #border-dscr {
  color: black;
  transform: translateY(58px);
}

.dsc textarea:focus + #dscr-label {
  transform: translateY(-26px) scale(.75);
}
.dsc textarea:focus + #dscr-label + #border-dscr {
  border-color: black;
  transform: translateY(58px);
}


/* dropdown */

.input-dropdown {
  color: rgb(136, 136, 136);
  font-weight: bold;
  background: none;
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 8px;
  width: 300px;
  outline: none; 
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(136, 136, 136);
  transition: all 200ms ease-in-out;
  border: none;
  border-bottom: 2px solid rgb(136, 136, 136);
  border-radius: 0;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right transparent;
  -webkit-appearance: none;
}

.input-dropdown:hover {
  color:rgb(255, 137, 1);
}

/* submit button */


.submit {
	justify-content: center;
	border: none;
	padding: 10px;
	width: 100px;
	color: white;
	background-color: rgb(255, 137, 1);
	border-radius: 8px;
	transition: 100ms ease all;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 4px 4px rgb(255, 185, 105)
}

.submit:hover {
  background-color: rgb(230, 122, 0)
}

.submit:active {
  box-shadow: 0 1px rgb(223, 101, 1);
  transform: translateY(4px) translateX(2px);
}


